/* colors
Main
Slate Blue:
Hex Code: #6A5ACD
RGB: 106, 90, 205
Buttons and others

Amber:
Hex Code: #FFBF00
RGB: 255, 191, 0

Text/complement
White:
Hex Code: #FFFFFF
RGB: 255, 255, 255 

Silver Gray:
Hex Code: #C0C0C0
RGB: 192, 192, 192
*/

/* color variables */
:root{
    --main-color:#6A5ACD;
    --buttons-color:#FFBF00;
    --text-color:#FFFFFF;
    --complement-color:#C0C0C0;
}

.button{
    color: var(--text-color);
    background-color: var(--buttons-color);
}

body{
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    padding-top: 12.5%;
}

#home_page{
    background-color: var(--complement-color);
    top: 25vh;
    padding-left: 12px;
    padding-right:12px;
    padding-top: 5px;
    height: 25vh;
    width: 50vw;
    margin: auto;
}